.navbar{
    background: #FBD062 !important;
}
.navbar .logo{
    width: 170px;
}
.navbar ul li,
.navbar ul button{
    margin: 0 20px;
    color: white;
    transition: 0.5s;
    color: black;
}
.navbar ul li:hover{
    border-bottom: 2px solid green;
}
.navbar ul button{
    background: black;
    color: white;
    padding:7px 32px;
    border: none;
    outline: none;
    border-radius:5px;
}