.feedback .customer-img{
    width:90%;
}
.feedback .customer{
    transition: 0.5s;
    padding: 10px 20px;
}
.feedback .customer:hover{
    box-shadow: 3px 3px 15px lightgrey;
    transform: scale(1.05);
    border-radius: 7px;
}