.dashboard .dashboard-options{
    margin:10px 0;
    color: black;
}
.dashboard .dashboard-options:hover{
    color: green;
}
.dashboard a:hover{
    text-decoration:none;
}
.change{
    background: #F4F7FC;
    height:100vh;
    border-radius: 20px;
}
input, textarea{
    border: none;
    outline: none;
    margin: 10px 0px; 
    padding: 10px;
    border-radius: 5px;
}
input{
    height: 60px;
}
input[type="submit"]{
    background: black;
    color: white;
    border: none;
    outline: none;
    border-radius:5px;
    width: 150px;
    height: 50px;
}
select{
    border: none;
    outline: none;
    padding: 4px;
    border-radius: 5px;
    color: red;
}
.user-service-list button{
    background: #FFE3E3;
    color: red;
    font-weight: 600;
    border: none;
    outline: none;
    width: 100px;
    height: 35px;
    border-radius: 5px;
}
.service-item{
    transition: 0.5s;
    padding: 10px;
}
.service-item:hover{
    transform: scale(1.05);
    border-radius: 5px;
}
.make-admin input[type="email"]{
    width: 350px;
    height: 55px;
    margin-right: 10px;
}
.make-admin input[type="submit"]{
    color: white;
    background: green;
}
.admin-service-list thead{
    background: white;
}
.admin-service-list th,
.admin-service-list td{
    padding: 10px 0px;
}
.admin-service-list tr:nth-child(even) {
    background-color: white;
  }
